---
import AppFooter from '~/components/AppFooter.astro'
import AppHeader from '~/components/AppHeader.astro'
import { AppName, AppDescription } from '~/constants/index'
---

<!DOCTYPE html>
<html lang="en" class="font-sans scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={AppDescription} />
    <title>{AppName}</title>
  </head>
  <body class="bg-white dark:bg-gray-900 m-0">
    <AppHeader />
    <slot />
    <AppFooter />
  </body>
</html>

<style>
  html {
    font-size: 14px;
  }
</style>
